/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

	.container1{
		
		display : flex;
	justify-content: space-between;
		flex-wrap: wrap;
		padding:10px;

	}


	nav a{
		
		justify-content: space-between;
		margin:15px;
		text-decoration: none;
        color: gray;
        

    }
    
    nav a:hover {
        background: white;
        color: pink;
      }



	.logobox{
		
		display: flex;

    }
    


	.container2{
		
		display:flex;
		padding: 15px;
		justify-content: space-around;
		justify-items: baseline;
		

	}
	.h1h2{
	
		
		align-items: center;
		width:40%
		padding:0px;
		margin:15px;
		text-align: center;
		font-size: 50px;
		
		
	}




	.container3{
		
		justify-content: space-between;

	}
	.h3ph4p{
		
		display: flex;
		justify-content: space-around;
	}
	.h3p{
		
		width: 50%;
		margin: 15px;

	}
	.h4p{
		
		width: 40%

	}
	.h4p1h4p2h4p3{
		
		display: flex;
		justify-content: space-around;
	}


	.middleimg{
		display: flex;
		padding: 30px;
		margin:30px;
	}

	.h4p1{
		
		width:30%;
	}
	.h4p2{
		
		width: 30%;
	}
		.h4p3{
			
			width: 30%;
		}
		.h5p5{
			margin: 15Px;
		}
		h6{
			text-align: center;

        }
     .utf-8{
         width:800px;
     }

@media (max-width:800px){

    .container1{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    nav a{
		
        flex-direction: column;
        flex-flow: column;
        margin:200px;
        padding: 5px;
        
    }
    
    
        .h1h2{
            align-items:center;
            background-color: teal;
    
    }
    h2{
        border:2px solid black;
    }
    h2:hover {
        background: white;
        color: pink;
      }

      .h3ph4p{
		
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 
        padding: 10px;
	}


    .h4p1h4p2h4p3, .h4p1  .h4p1h4p2h, .h4p2{
		
		flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px;
        padding: 15px;
    }
    

    .h5p5{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }


